/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

/* Service */
.service .service_img {
  background-image: url(../img/bg3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.service_icon {
  background: rgba(255, 255, 255, 0.801);
  padding: 30px;
  border-radius: 8px;
}
.service_icon .icon i {
  color: #0d369f;
  font-size: 28px;
  background: rgb(13 54 159 / 9%);
  width: 65px;
  height: 66px;
  line-height: 65px;
  border-radius: 50%;
  text-align: center;
  margin-right: 18px;
}
.service_icon .icon_info h5 {
  font-size: 20px;
  line-height: 30px;
  color: #060606;
  font-weight: 600;
  margin-bottom: 6px;
}
.service_icon .icon_info p {
  font-size: 16px;
  line-height: 28px;
  color: #707070;
  letter-spacing: 0.4px;
}

/* Start number */
h3.title_main {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  position: relative;
}
h3.title_main span {
  color: #ff6e65;
}
.number .counter {
  font-size: 35px;
  font-weight: 600;
  color: #060606;
}
.number .counter_text {
  font-size: 15px;
  text-transform: uppercase;
  color: #060606;
}

/* feedback */
.title_content .testimonials_grid {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 20px 62px rgba(4, 20, 69, 0.1);
  padding: 2rem;
}
.testi-img-res img {
  border-radius: 50%;
  width: 60px;
}
.sub-author-con {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-gap: 5px;
  margin-top: 1.5em;
}
.testi_grid h5 {
  font-weight: 600;
  line-height: 16px;
}
.testi_grid p{
  font-size: 13px;
    color: #707070;
}
